<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="/stylesheets/profileMenu.css">
    <link rel="stylesheet" href="/stylesheets/activityMenu.css">
  <link rel="stylesheet" href="/stylesheets/feedPin.css">
</head>

<body>
  <%- include('../partials/addPin') %>
  <!-- Container for map and sidebar -->
  <div class="wrapper">

    <%- include('../partials/sidebar') %>
    <%- include('../partials/profileMenu.ejs') %>
    <%- include('../partials/activityMenu.ejs') %>
    <div id="content" class="m-0 p-0 ">
      <%- include('../partials/map') %>
    </div>

  </div>
  <%- include('../partials/script') %>
  <script src="../javascripts/usermap.js" charset="utf-8"></script>
</body>


</html>
